


#header{   
    font-size: 100px; 
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
h1{
    font-size: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col-border{
    content: "";
    position: relative;
    top: 0;
    bottom: 0;
    border-right: solid 2px black;
    border-left: solid 2px black;
    }
#footer{
    text-align: center;
    padding-top: 800;
    padding-bottom: 50;
    border-top: dotted 2px grey ;
}





