body {
    background-color: black;
      color: white;
    }
h1 {font-size: 20px;}
p {font-size: 12px;
color: green;}
.myDiv 
div {border-style: 20px dotted;
    width: 100px;
    height: 100px;
  border-color: hotpink;}
ol {list-style-type: lower-alpha;}
ul {list-style-type: square;}
h2 {font-size: 23px;}

