body {background-color: mistyrose;
    width: 90%;
    margin-left: auto;
    margin-right: auto;}

   

#h2 {border-style: double;
    margin-left: 600px;
    margin-right: 800px;
}
p {background-color: olive;
border-radius: 25px; 
width: 200px;
padding: 15px;   
}
figure {margin-left: 0px;}
#header{background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;}
.nav{
    background-color: silver;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;}
    section{
        content: "";
        display: table;
        clear: both;
        background-color: snow;
      }
      .article {
          background-color: skyblue;
        float: left;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
      }
ul{list-style-type: none;}

#aside{background-color: skyblue;
    float: left;
    padding: 30px;
    text-align: center;
    font-size: 35px;}

    .footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
      }

      
      
    

    
    