


#header{   
    font-size: 100px; 
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
h1{
    font-size: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.iso{
    font-size: 170%;
    font-style: bold;
}
.vasen{
    padding-left: 50px;
    
}

.col-border{
    content: "";
    position: relative;
    top: 0;
    bottom: 0;
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    color: grey;
    }
#footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    border-top: dotted 2px grey ;
    color: grey;
}











